.emotes-page{
    .page-container{
        max-width: none;
        width: 100%;
    }

    .page-header{
        @media (max-width: 1440px){
            .title{
                font-size: 36px;
            }
        }

        @media (max-width: 768px){
            .title{
                font-size: 30px;
            }
            .title-desc{
                width: 500px;
            }
        }

        @media (max-width: 425px){
            .title{
                font-size: 20px;
            }
            .title-desc{
                top: -9px;
                width: 350px;
            }
        }

        @media (max-width: 375px){
            .title{
                font-size: 16px;
            }
            .title-desc{
                top: -9px;
                width: 300px;
            }
        }
    }

    .contractors{
        background-image: url(../../images/concept-art/bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 50px;
        &-content{
            max-width: 800px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            column-gap: 70px;
            row-gap: 10px;
            justify-content: center;
            .contractor{
                text-decoration: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: calc(33.333% - 70px);
                max-width: 400px;
                .image{
                    width: 160px;
                    height: auto;
                    img{
                        width: 100%;
                        height: 100%;
                    }

                    @media (max-width: 768px){
                        width: 120px;
                    }

                    @media (max-width: 425px){
                        width: 80px;
                    }
                }
                
                .name{
                    text-transform: uppercase;
                    color: #ff8196;
                    font-size: 20px;
                    font-weight: 900;
                }

                .roles{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .role{
                        font-size: 14px;
                        text-transform: uppercase;
                        color: #377493;
                    }
                }

                @media (max-width: 768px){
                    .name{
                        font-size: 18px;
                    }
                    .roles .role{
                        font-size: 12px;
                    }
                }

                @media (max-width: 425px){
                    .name{
                        font-size: 10px;
                    }
                    .roles .role{
                        font-size: 8px;
                    }
                }

                @media (max-width: 375px){
                    width: calc(33.333% - 40px);
                }
            }
        }
    }
    
    .contractors-cards{
        margin-top: 100px;
        .contractor-card{
            position: relative;
            margin-bottom: 100px;

            @media (max-width: 768px){
                margin-bottom: 350px;
            }
            @media (max-width: 425px){
                margin-bottom: 250px;
            }
            .card-header{
                position: relative;
                .line{
                    z-index: 1;
                    position: relative;
                    width: 100%;
                    border-top: 1px dashed #92beea;
                }

                &-contractor{
                    max-width: 1400px;
                    z-index: 2;
                    position: relative;
                    top: -20px;
                    left: 10%;
                    display: inline-flex;
                    align-items: center;
                    .image{
                        width: 120px;
                        height: auto;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .name{
                        color: #92beea;
                        text-transform: uppercase;
                        font-size: 30px;
                        font-weight: 900;
                    }

                    .roles{
                        font-weight: 300;
                        color: #443252;
                        text-transform: uppercase;
                        font-size: 12px;
                    }

                    .status{
                        width: 200px;
                        height: 25px;
                    }
                }

                @media (max-width: 768px){
                    .name{
                        font-size: 24px;
                    }
                }

                @media (max-width: 375px){
                    .image{
                        width: 80px;
                    }

                    .name{
                        font-size: 16px;
                    }

                    .roles{
                        font-size: 10px;
                    }

                    .status{
                        width: 80px;
                    }
                }
            }
            .card-main{
                overflow: hidden;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 460px;
                background: #f4f7ff;
                .left-flower{
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                @media (max-width: 425px){
                    .left-flower{
                        width: 100%;
                        height: 100%;
                        img{
                            object-fit: cover;
                        }
                    }
                }
                .included{
                    z-index: 2;
                    position: relative;
                    margin-bottom: 50px;
                    .title{
                        text-align: center;
                        color: #443252;
                        font-size: 20px;
                        font-weight: 300;
                        text-transform: uppercase;
                    }
                    .text{
                        color: #92beea;
                        font-size: 14px;
                        font-weight: 300;
                        text-transform: uppercase;
                    }

                    @media (max-width: 425px){
                        .title{
                            font-size: 14px;
                        }
                        .text{
                            font-size: 12px;
                        }
                    }
                }
                .services{
                    z-index: 2;
                    position: relative;
                    width: 40%;
                    height: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .divider{
                        text-align: center;
                        color: #443252;
                        text-transform: uppercase;
                        font-size: 20px;
                        font-weight: 300;

                        @media (max-width: 425px){
                            font-size: 14px;
                        }
                    }
                    .base, .extra{
                        display: flex;
                        justify-content: space-between;
                    }

                    .service{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 50%;
                        .name{
                            text-align: center;
                            color: #92beea;
                            font-size: 26px;
                            font-weight: 700;
                            margin-bottom: 10px;

                            @media (max-width: 1440px){
                                font-size: 20px;
                            }

                            @media (max-width: 1024px){
                                font-size: 16px;
                            }

                            @media (max-width: 425px){
                                font-size: 14px;
                            }
                        }

                        .expressions{
                            text-align: center;
                            color: #443252;

                            @media (max-width: 425px){
                                font-size: 12px;
                            }
                        }

                        .amount{
                            text-transform: uppercase;
                            padding: 5px 15px;
                            color: #443252;
                            font-weight: 300;
                            font-size: 20px;
                            background: white;
                            border-radius: 30px;
                            border: 1px dashed #92beea;

                            @media (max-width: 1024px){
                                font-size: 16px;
                            }

                            @media (max-width: 425px){
                                font-size: 12px;
                            }
                        }
                    }

                    @media (max-width: 768px){
                        width: 90%;
                    }
                }
            }
            .card-footer{
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .services-desc{
                    margin-left: 5%;
                    align-self: flex-start;
                    .edit-info{
                        color: #92beea;
                        font-weight: 300;
                        text-transform: uppercase;
                        @media (max-width: 1440px){
                            font-size: 14px;
                        }
                        .amount{
                            color: rgb(68, 50, 82);
                            font-weight: inherit;
                            text-transform: inherit;
                        }
                    }
                    
                    .additional{
                        color: #92beea;
                        font-weight: 300;
                        text-transform: uppercase;
                        @media (max-width: 1440px){
                            font-size: 14px;
                        }
                        .bold{
                            color: #92beea;
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                    }

                    @media (max-width: 768px){
                        .edit-info{
                            font-size: 14px;
                            text-align: center;
                        }
                        .additional{
                            font-size: 14px;
                            text-align: center;
                        }

                        margin-left: 0;
                        position: relative;
                        transform: translateX(-50%);
                        left: 50%;
                    }
                }

                .request-button{
                    margin-top: 30px;
                    color: #92beea;
                    border-radius: 30px;
                    border: 1px dashed #92beea;
                    text-transform: uppercase;
                    font-weight: 300;
                    font-size: 24px;
                    padding: 10px 30px;

                    @media (max-width: 1024px){
                        font-size: 20px;
                    }
                    @media (max-width: 768px){
                        font-size: 16px;
                    }
                }

                @media (max-width: 768px){
                    position: relative;
                    top: 300px;
                }

                @media (max-width: 425px){
                    top: 200px;
                }
            }
            .discount{
                display: flex;
                flex-direction: column;
                align-items: center;
                z-index: 999;
                position: absolute;
                bottom: 85px;
                left: 50%;
                transform: translateX(-50%);

                @media (max-width: 1440px){
                    bottom: 104px;
                }

                @media (max-width: 425px){
                    bottom: 144px;
                }
                .percent{
                    display: inline;
                    position: relative;
                    .amount{
                        display: inline;
                        z-index: 1;
                        position: relative;
                        color: #92beea;
                        font-size: 50px;
                        font-weight: 900;
                    }
                    .symbol{
                        z-index: 2;
                        position: absolute;
                        bottom: -14px;
                        right: -29px;
                        color: #443252;
                        font-size: 40px;
                        font-weight: 900;
                    }
                }
                .text{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    &-1{
                        text-transform: uppercase;
                        color: #443252;
                        font-size: 20px;
                        font-weight: 400;
                    }
                    &-2{
                        text-transform: uppercase;
                        color: #92beea;
                        font-size: 20px;
                        font-weight: 400;
                        font-style: italic;
                    }

                    @media (max-width: 1440px){
                        .text-1{
                            font-size: 16px;
                        }
                        .text-2{
                            font-size: 16px;
                        }
                    }

                    @media (max-width: 1024px){
                        .text-1{
                            font-size: 12px;
                        }
                        .text-2{
                            font-size: 12px;
                        }
                    }
                    
                    @media (max-width: 768px){
                        .text-1, .text-2{
                            font-size: 16px;
                        }
                    }

                    @media (max-width: 425px){
                        .text-2{
                            font-size: 14px;
                        }
                    }
                }

                @media (max-width: 768px){
                    zoom: 80%;
                }
            }
            .examples-left{
                left: 5%;
            }
            .examples-right{
                right: 5%;
            }

            @media (max-width: 768px){
                .examples-left{
                    left: 10%;
                }
                .examples-right{
                    right: 10%;
                }
            }
            .examples{
                z-index: 999;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                display: grid;
                grid-template-columns: repeat(3, 96px);
                gap: 20px;
                @media (max-width: 1440px){
                    grid-template-columns: repeat(3, 60px);
                }
                @media (max-width: 768px){
                    top: 105%;
                }
                @media (max-width: 425px){
                    top: 97%;
                    grid-template-columns: repeat(3, 45px);
                    gap: 5px;
                }
                .example{
                    width: 96px;
                    height: 96px;
                    img{
                        width: 100%;
                        height: 100%;
                    }

                    @media (max-width: 1440px){
                        width: 80px;
                        height: 80px;
                    }

                    @media (max-width: 1440px){
                        width: 60px;
                        height: 60px;
                    }

                    @media (max-width: 425px){
                        width: 45px;
                        height: 45px;
                    }
                }
            }
        }
    }
}