.rigging-page{
    @media (max-width: 1440px){
        zoom: 90%;
    }
    @media (max-width: 1024px){
        zoom: 80%;
    }
    .page-container{
        max-width: none;
        width: 100%;
    }

    .contractors{
        background-image: url(../../images/concept-art/bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 50px;
        &-content{
            max-width: 800px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            column-gap: 70px;
            row-gap: 10px;
            justify-content: center;
            .contractor{
                text-decoration: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: calc(33.333% - 70px);
                max-width: 400px;
                .image{
                    width: 160px;
                    height: auto;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                
                .name{
                    text-transform: uppercase;
                    color: #ff8196;
                    font-size: 20px;
                    font-weight: 900;
                }

                .roles{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .role{
                        font-size: 14px;
                        text-transform: uppercase;
                        color: #377493;
                    }
                }
            }
        }
    }
    
    .contractors-cards{
        margin-top: 100px;
        .contractor-card{
            position: relative;
            margin-bottom: 100px;
            .card-header{
                position: relative;
                .line{
                    z-index: 1;
                    position: relative;
                    width: 100%;
                    border-top: 1px dashed #92beea;
                }

                &-contractor{
                    max-width: 1400px;
                    z-index: 2;
                    position: relative;
                    top: -20px;
                    left: 10%;
                    display: inline-flex;
                    align-items: center;
                    .image{
                        width: 120px;
                        height: auto;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .name{
                        color: #92beea;
                        text-transform: uppercase;
                        font-size: 30px;
                        font-weight: 900;
                    }

                    .roles{
                        font-weight: 300;
                        color: #443252;
                        text-transform: uppercase;
                        font-size: 12px;
                    }

                    .status{
                        width: 200px;
                        height: 25px;
                    }
                }
            }
            .card-main{
                overflow: hidden;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 460px;
                background: #f4f7ff;
                .left-flower{
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .included{
                    z-index: 2;
                    position: relative;
                    margin-bottom: 50px;
                    .title{
                        text-align: center;
                        color: #443252;
                        font-size: 20px;
                        font-weight: 300;
                        text-transform: uppercase;
                    }
                    .text{
                        color: #92beea;
                        font-size: 14px;
                        font-weight: 300;
                        text-transform: uppercase;
                    }
                }
                .services{
                    z-index: 2;
                    position: relative;
                    width: 50%;
                    height: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .divider{
                        text-align: center;
                        color: #443252;
                        text-transform: uppercase;
                        font-size: 20px;
                        font-weight: 300;
                    }
                    .base, .extra{
                        display: flex;
                        justify-content: space-between;
                    }

                    .service{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 50%;
                        .name{
                            text-align: center;
                            color: #92beea;
                            font-size: 26px;
                            font-weight: 700;
                            margin-bottom: 10px;

                            @media (max-width: 1024px){
                                font-size: 20px;
                            }
                        }

                        .expressions{
                            color: #443252;
                        }

                        .amount{
                            text-transform: uppercase;
                            padding: 5px 15px;
                            color: #443252;
                            font-weight: 300;
                            font-size: 20px;
                            background: white;
                            border-radius: 30px;
                            border: 1px dashed #92beea;
                        }
                    }
                }
            }
            .card-footer{
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .services-desc{
                    margin-left: 170px;
                    align-self: flex-start;
                    .edit-info{
                        color: #92beea;
                        font-weight: 300;
                        text-transform: uppercase;
                        .amount{
                            color: rgb(68, 50, 82);
                            font-weight: inherit;
                            text-transform: inherit;
                        }
                    }
                    
                    .additional{
                        color: #92beea;
                        font-weight: 300;
                        text-transform: uppercase;
                        .bold{
                            color: #92beea;
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                    }
                }

                .request-button{
                    margin-top: 30px;
                    color: #92beea;
                    border-radius: 30px;
                    border: 1px dashed #92beea;
                    text-transform: uppercase;
                    font-weight: 300;
                    font-size: 24px;
                    padding: 10px 30px;
                }
            }
            .left-column{
                z-index: 999;
                position: absolute;
                top: 50%;
                left: 5%;
                transform: translateY(-50%);
                display: flex;
                flex-direction: column;
                align-items: center;
                .desc{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .edit-info{
                        color: #92beea;
                        font-weight: 300;
                        text-transform: uppercase;
                        .amount{
                            color: rgb(68, 50, 82);
                            font-weight: inherit;
                            text-transform: inherit;
                        }
                    }
                    
                    .additional{
                        margin-top: 30px;
                        text-align: center;
                        max-width: 350px;
                        color: #92beea;
                        font-weight: 300;
                        text-transform: uppercase;
                        .bold{
                            color: #92beea;
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                    }
                }

                .request-button{
                    margin-top: 30px;
                    color: #92beea;
                    border-radius: 30px;
                    border: 1px dashed #92beea;
                    text-transform: uppercase;
                    font-weight: 300;
                    font-size: 24px;
                    padding: 10px 30px;
                }
            }
            .discount{
                display: flex;
                flex-direction: column;
                align-items: center;
                z-index: 999;
                position: absolute;
                top: 50%;
                right: 10%;
                transform: translateY(-50%);
                .percent{
                    display: inline;
                    position: relative;
                    .amount{
                        display: inline;
                        z-index: 1;
                        position: relative;
                        color: #92beea;
                        font-size: 50px;
                        font-weight: 900;
                    }
                    .symbol{
                        z-index: 2;
                        position: absolute;
                        bottom: -14px;
                        right: -29px;
                        color: #443252;
                        font-size: 40px;
                        font-weight: 900;
                    }
                }
                .text{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    &-1{
                        text-transform: uppercase;
                        color: #443252;
                        font-size: 20px;
                        font-weight: 400;
                    }
                    &-2{
                        text-transform: uppercase;
                        color: #92beea;
                        font-size: 20px;
                        font-weight: 400;
                        font-style: italic;
                    }
                }
            }
        }
    }
}

/* Блокируем скролл body при открытой модалке */
body.modal-open {
    overflow: hidden;
}

/* Затемнённый фон */
.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 1000;

    /* Модальное окно */
    .modal {
        padding: 20px 60px;
        background: #fff;
        width: 90%;
        height: 90%;
        border-radius: 12px;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    /* Кнопка закрытия */
    .modal-close {
        position: absolute;
        top: 10px;
        right: 24px;
        border: none;
        background: none;
        font-size: 40px;
        cursor: pointer;
    }

    .title{
        text-transform: uppercase;
        text-align: center;
        font-weight: 900;
    }

    .desc{
        text-align: center;
    }

    /* Контент */
    .modal-content {
        overflow-y: auto;

        .videos-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
            gap: 24px;
        }

        /* Один видео-блок */
        .video-item {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        /* Адаптивное видео 16:9 */
        .video-wrapper {
            position: relative;
            width: 100%;
            padding-top: 56.25%; // 16:9
            border-radius: 12px;
            overflow: hidden;
            background: #000;

            iframe {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                border: 0;
            }
        }

        /* Подпись под видео */
        .video-title {
            font-size: 16px;
            font-weight: 500;
            text-align: center;
        }
    }
}

/* Активное состояние */
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}