.tos-page{
    .page-header{
        .title{
            font-size: 44px;
        }
    }
    .page-main{
        margin-top: 50px;
        .title{
            color: #377493;
            text-transform: uppercase;
            font-size: 40px;
            font-weight: 100;
            text-align: center;
            letter-spacing: 3px;
        }

        .content{
            .text{
                color: #377493;
                text-align: center;
                font-size: 34px;
                font-weight: 400;
            }
        }
    }
}